/* Star Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --background-image-height: 361px;
  --all-padding: 20px;
}
body {
  font-family: Arial, sans-serif;
}
/* End Global Rules */
/* Start Header */
header {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  margin-bottom: var(--background-image-height);
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: var(--background-image-height);
  width: 100%;
  background-image: url(images/bg.png);
  background-size: cover;
}
header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--all-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  height: 40px;
}
header h1 img {
  height: 40px;
}
header ul {
  list-style: none;
  text-transform: uppercase;
}
header ul li {
  display: inline;
  margin-left: 15px;
}
header ul li a {
  text-decoration: none;
  color: #999;
  transition: color 0.2s;
}
header ul li a:hover {
  color: #000;
}
/* End Header */
/* Start Content */
.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* Start Content */
/* Start Main */
main {
  width: 60%;
  padding: var(--all-padding);
  padding-top: 50px;
  border-right: 1px #999 solid;
}
main h2 {
  margin-bottom: 10px;
}
main h2+p {
  color: #999;
  margin-bottom: 10px;
}
main p {
  margin-bottom: 30px;
}
/* End Main */
/* Start Aside */
aside {
  width: 40%;
  padding: var(--all-padding);
  padding-top: 50px;
}
aside h2 {
  margin-bottom: 10px;
}
aside ul {
  list-style: none;
  line-height: 1.8;
  margin-bottom: 10px;
}
aside img {
  display: block;
  margin: 0 auto;
}
/* End Aside */
/* Start Footer */
footer {
  padding: 15px;
  display: flex;
  justify-content: center;
  border-top: 1px #999 solid;
}
/* End Footer */